<nav class="navbar navbar-expand-lg navbar-light bg-plum">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="employees" routerLinkActive="active" class="nav-link">
        <h6>Employee List</h6>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="create-employee" routerLinkActive="active" class="nav-link">
        <h6>Add new employee</h6>
      </a>
    </li>
  </ul>
</nav>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span>
      <h6 class="text-center">All Rights Reserved</h6>
    </span>
  </div>
</footer>